// -----------------------------------------------------------------------------
// This file contains all styles related to the login page.
// -----------------------------------------------------------------------------
/// @author MASAAF Ali

.login-content__login-box{
    background: radial-gradient(83.86% 125.79% at 48% 99.34%, #3978C6 0%, #161B3D 100%);
    font-size: $s-text-size;

    @include media('>=desktop') {
        @include size(70vh, 120vh);
        background: transparent;
        box-shadow: $box-shadow;
        border-radius: $m-radius;
    }    
}

.banner__titel{
    font-size: $xxl-text-size;
    font-family: $poppins-extraLight;
    @include media('>=desktop') {
        margin: 0;
        align-self: center;
        font-size: $xl-text-size;
    }
}

.main__greetings{
    line-height: $m-line-height;
    
    p:nth-child(1){
        font-size: $xl-text-size;
        margin: 0.5rem 0 0 0;
        font-family: $poppins-bold;
        letter-spacing: 0.1rem;
       
    }
    p:nth-child(2){
        font-size: $xs-text-size;
        font-family: $poppins-sbold;
    }

    @include media('>=desktop') {
        line-height: $xxl-line-height;
        margin-top: 3rem;
        p:nth-child(1){
            font-size: $xl-text-size;
            margin: 0.5rem 0 0 0;
            font-family: $poppins-sbold;
            letter-spacing: 0.1rem;
           
        }
        p:nth-child(2){
            font-size: $xs-text-size;
            font-family: $poppins-sbold;
        }
    }
}

.main__login-form{
    margin-bottom: 1rem;
    height: 25vh;
    @include media('>=desktop') {  
        margin-bottom: 0;
        height: 300px;
    }
}

.main__login-form > *{
    @include media('>=desktop') {
        margin-bottom: 2rem;
    }
}

.login-form__username-input, .pwd-field__pwd-input {
    @extend .input-auth;
    @include media('>=desktop') {
    }
}

.login-form__pwd-field{
    position: relative;
    @include media('>=desktop') {
    }
}

.pwd-field__pwd-reset{
    position: absolute;
    right: 0rem;
    bottom: 0.3rem;
    @include media('>=desktop') {
    }
}

.login-form__remmber-me{
    @include media('>=desktop') {
        order: 4;
    }
}

.remmber-me__checkbox{
    align-self: end;
    align-self: center;
    margin-right: 1rem;
    @include media('>=desktop') {
        margin-right: 0.2rem;
    }
}

.remmber-me__checkbox{
    @extend .checkbox-default;
    @include media('>=desktop') {
    }
}

.login-form__submit-btn{
    @extend .submit-btn;
    margin-bottom: 0;
    @include media('>=desktop') {
    }
}

.loader {
    height: 36px;
    border: 6px solid white;
    width: 36px;
    border-radius: 50%;
    border-top: 6px solid #006FFD;
    animation: spin 2s linear infinite;
    align-self: center;
    margin: 0;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
