// -----------------------------------------------------------------------------
// This file contains all styles related to the User managment page.
// -----------------------------------------------------------------------------
/// @author MASAAF Ali



/**
* Style the inputs place-holder globally
*/

::placeholder {
    font-family: $poppins !important;
    color:$secandryText-color;
    font-size: $m-text-size;

}

.user-managment{
    height: 100%;
    width: 100%;
    color: $secandryText-color;
    padding: 1rem;
}

.personnel__titel{
    font-size: $xl-text-size;
    margin-bottom: 1rem;
    font-family: $poppins;
    font-weight: 2;
}

.titel__text{
    display: inline;
    font-size: $m-text-size;
    font-family: $poppins-sbold;
}

.titel__icon{
    @extend .options-icon;
    cursor: pointer;
}

.usage__cards div{
    border: solid 1px $border-color;
    border-radius: 4px;
    padding: 1em 4rem;
    text-align: center;
    padding: 1rem 0;
    font-size: $m-text-size;
    color: $secandryText-color;
    background-color: $surface-color;
    :nth-child(2){
        font-size: $xxl-text-size;
        color: $primaryText-color;
        margin: 0.3rem 0 0 0;
    }
}

.user-list__titel{
    font-size: $xl-text-size;
    margin-bottom: 1rem;
    font-family: $poppins;
    font-weight: 2;
}

.user-list__top-bar{
    width: 100%;
}

.filter__label{
    font-size: $s_text_size;
    text-transform: capitalize;
}

.top-bar__options{
    height: 2rem;
    width: 2rem;
    text-align: center;
    cursor: pointer;
}

.options__icon{
    @extend .options-icon;
}

.top-bar__search{
    width:16rem;
    height: 2rem;
    border: solid 1px $border-color;
    background-color: $surface-color;
    border-radius: $s-radius;
    font-size: $xs-text-size;
    margin-right: 1rem;
    padding: 0  0.5rem;
}

.search__input{
    @extend .input-search;
}

.search__icon{
    @extend .search-icon;
    cursor: pointer;
}

.add-user__label{
    cursor: pointer;
}

.head__column-name{
    font-size: $m-text-size;
}

.user-list__table{
    @extend .table-default;
    margin-top: 0.7rem;
}

tr :nth-child(9) , .column-name__status{
    text-align: center;
}

.auth__card{
    @extend .card-icon;
    margin-right: 1rem;
}

.auth__finger-print{
    @extend .finger-print-icon;
    margin-right: 1rem;
}

.auth__face-print{
    @extend .face-print-icon;
    margin-right: 1rem;
}

.auth__qr{
    @extend .qr-icon;
}

.id__checkbox{
    margin-right: 1rem;
    @extend .checkbox;
}

.id__flesh{
    @extend .flesh-icon;
    margin-left: 0.4rem;
    cursor: pointer;
}

.first-name__flesh{
    @extend .flesh-icon;
    margin-left: 0.5rem;
    cursor: pointer;
}

.user-list__table{
    line-height: 1.6;
}

.add-user__modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;   
    background-color: #00000090;
}

.modal__content{
    height: 85vh;
    width:  70vw;
    border: 1px solid $component-color;
    margin: auto;
    background: $background-color;
    border-radius: $s-radius;
}


.content__profile-picture{
    position: relative;
}

.profile-picture__img{
    position: relative;
    height: 5rem;
    width: 5rem;
    border-radius: 100rem;
    background-image: url("./../../icons/profile.svg");
    margin-top: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.img__add-picture{
    @extend .submit-btn;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100px;
    background-image: url("./../../icons/add.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0.2rem;
    right: -0.2rem;
}

.content__user-info{
    margin-top: 1rem;
}

.user-info__form{
    input{
        @extend .input-text;
        width: 100%;
    }

    select{
        @extend .input-select;
        width: auto;
    }
}

.form__period-label{
    font-size: $m-text-size;
}

.form__period-start-date, .form__period-end-date{
    width:100% !important;
    font-size: 0.6rem;
    padding-left: 4px;
    color:$secandryText-color !important;
}

.form__card-id{
    height: 100%;
    width: 100%;
    background-color: $surface-color;
    border: 1px solid $border-color;
    border-radius: $s-radius;
    padding: 0.5rem;
    i{
        @extend .search-icon;
        cursor: pointer;
    }

    input{
         @extend .search__input;  
         padding: 0; 
    }
}

.user-info__finger-print{
    padding-left: 1rem;
}

.finger-print__title {
    margin: 0;
    font-size: $m-text-size;
    
}
.finger-print__box{
    background-color: $surface-color;
    border:1px solid $border-color;
    border-radius: $s-radius;
    height: 11.88rem;
    width: 15rem;
    margin-top: 1rem;
    padding: 0 1rem;
}

.box__top-bar{
    display: flex;
    margin: 1rem 0 0 0;
    justify-content: space-between;
}

.top-bar__checkbox{
    @extend .checkbox;
}

.top-bar__devices{
    @extend .input-select;
    width: 60%;
    padding: 0 0.1rem ;
}


.status__state{
    font-size: $m-text-size;
    margin-right: 1rem;
}


.user-info__status{
    margin-top: 1rem;
}

.status__switch{
    @extend .switch-state;
    display: inline;
    :nth-child(2){
        width: 2.5rem;
        display: inline-block; 
    }
}

.print-card__label{
    font-size: $m-text-size;
}

.print-card__custum-checkbox{
    display: inline-block;
}

.print-card__checkbox{
    @extend .checkbox;
    margin-left: 0.5rem;
}

.content__validation{
    height: 2rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.validation__cancel{
    @extend .cansel-btn;
    cursor: pointer;
    margin-right: 1rem;
    
}

.validation__save{
    @extend .save-btn;
    cursor: pointer;
    margin-right: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 15px 0px;
}

.validation__save-add{
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 15px 0px;
}

.save-add__pop-up{
    //visibility: hidden;
    cursor: default;
    position: absolute;
    font-size: $xs-text-size;
    padding: 0.28rem;
    width: 10rem;
    top: -40px;
    left: 1rem;
    border: 1px solid #E1A75B;
    text-align: center;
    border-radius: 8px 8px 8px 0;
    background-color: $background-color;
    transition-delay: 5s;
    transition-duration: 999999s;  
}

/** 
* Styling pop-up border with a traingle in the left corner 
* in the next ::befor and ::after psudo names
*/ 

.validation__save-add:before {
    cursor: default;
    content: "";
    position: absolute;
    left: 1rem;
    top: -1.6rem;
    border-radius: 0.2rem;
    border: 0.5rem solid;
    border-color: #E1A75B transparent transparent #E1A75B;
}

.validation__save-add:after{
    cursor: default;
    content: " ";
    position: absolute;
    left: 1.05rem;
    top: -1.8rem;
    border-radius: 0.04rem;
    border: 0.5rem solid;
    border-color: #1D1C2C transparent transparent #1D1C2C;
}

.save-add__add-icon{
    @extend .save-btn;
    width: 2rem;
}
.save-add__add-icon{
    display: inline-block;
    width: 2rem;
    background-image: url("./../../icons/add.svg");
    background-size: 50%;
    background-position:center;
    background-repeat: no-repeat;
}

