// -----------------------------------------------------------------------------
// This file contains all styles related to the buttons
// -----------------------------------------------------------------------------
/// @author MASAAF Ali



.submit-btn{
    width: 100%;
    font-size: $m-text-size;
    background-color: $component-color;
    border: none;
    border-radius: $s-radius;
    height: 2rem;
    color: $primaryText-color;
}

.cansel-btn{
    width: 8rem;
    font-size: $m-text-size;
    background-color: $failure-color;
    border: none;
    border-radius: $s-radius;
    height: 2rem;
    color: $primaryText-color;
}

.save-btn{
    width: 8rem;
    font-size: $m-text-size;
    background-color: $success-color;
    border: none;
    border-radius: $s-radius;
    height: 2rem;
    color: $primaryText-color;
}
