// -----------------------------------------------------------------------------
// This file contains all styles related to the banner of the site/application.
// -----------------------------------------------------------------------------
/// @author MASAAF Ali

/**
* Login page banner
*/ 

.login-box__banner{
    margin-right: $layout-right-margin;
    margin-left: $layout-left-margin;
    align-self: center;
    @include media('>=desktop') {
        background: radial-gradient(83.86% 125.79% at 48% 99.34%, #3978C6 0%, #161B3D 100%);
        @include size(70vh, 70vh);
        margin: 0;
        border-radius: $m-radius 0 0 $m-radius;
    }
}