// -----------------------------------------------------------------------------
// This file contains all styles related to the flex of the site/application.
// -----------------------------------------------------------------------------
/// @author MASAAF Ali


/**
* Login page flex layout
*/ 

.login-box__main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    @include media('>=desktop') {
        justify-content: space-evenly;
    }
}

.login-box__banner {
    @include media('>=desktop') {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.main__login-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    @include media('>=desktop') {  
        justify-content: space-evenly;
    }
}

.login-form__remmber-me{
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: flex-start;
    @include media('>=desktop') {  
        justify-content: flex-end;
    }
}

.remmber-me__label{
    order: 1;
    @include media('>=desktop') {  
        order: 2;
    }
}

/**
* User Managment flex layout
*/

.usage__titel{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.user-list__top-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.top-bar__search{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.form__card-id{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__profile-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__validation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.user-info__status{
    display: flex;
    justify-content: flex-end;
}