// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
/// @author MASAAF Ali

/**
* Login page footer
*/ 

.login-box__footer{
  align-self: center;
  justify-self: center;
  a{
      margin: 0 0.4rem;
  }
}